PORT=4000
CLIENT_ORIGIN=http://localhost:8080
JWT_SECRET=change-me-to-long-random-secret

DB_HOST=db.db049.endora.cz
DB_PORT=3306
DB_USER=testdomainpp
DB_PASSWORD=FrakkturResurgence1@
DB_NAME=ppdatabase

EMAIL_FROM=Frakktur <no-reply@frakktur.com>
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_SECURE=false
